* {
  font-family: helvetica neue;
  -moz-border-radius: 3px;
border-radius: 3px;
text-decoration: none;
}

.header {
    background-color: white;
    height: 80px;
}

.etsy-logo {
    float: left;
    padding-left: 20px;
    padding-top: 15px;
    height: 35px;
    width: 76px;
}
//form{
//right: 23px;
//}

.input[type=text] {
    width: 342px;
    height: 30px;
    position: relative;
    left: 23px;
    top: 10px;
    display: inline-block;
    font-size: 15px;
    background-color: #FBFBFA;
    color: #777780;
    padding-left: 10px;
    font-size: 16px;
    outline:0;
}



button {
    position: relative;
    height: 36px;
    width: 78px;
    background-color: #34A8C4;
    font-size: 15px;
    color: white;
    left: 18px;
    top: 10px;
    border-color: #2F98B1;
    border-style: solid;
}

.headerwords1 {
    float: right;
    padding-right: 10px;
    top: 23px;
    position: relative;
    padding-right: 20px;
    color: #0192BA;
    right: 45px;
}

.headerwords2 {
    position: relative;
    float: right;
    padding-right: 20px;
    top: 23px;
    color: #0192BA;
    right: 45px;
}

.headerwords3 {
    position: relative;
    float: right;
    top: 18px;
    color: #0192BA;
    right: 45px;
    border: solid 1px;
    height: 25px;
    width: 55px;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-right: 3px;
    padding-left: 8px;

}

.cartlist {
  float: right;
  list-style: none;
  padding-left: 0px;
  position: relative;
  right: 25px;
  font-size: 14px;
  border-left: #EEEEEE solid 1px;
  padding-left: 15px;
  opacity: .6;
}

.cart {
    height: 22px;
    width: 20px;
    //position: relative;
    //float: right;
    //top: 23px;
    //border-left: solid 1px;
}

.nav {
    height: 40px;
    width: auto;
    border-bottom:  #EEEEEE solid 1px;
    border-top:  #EEEEEE solid 1px;
    background-color: white;
    color: #777780;
    font-size: 14px;
    padding-left: 30px;

    span {
        padding-right: 20px;
        position: relative;
        top: 30%;

    }
    a {
      color: #777780;
    }
}


.sidebarhead {
  position: relative;
  top: 35px;
  margin-left: 22px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
}

.sidebar {
    width: 212px;
    height: 430px;
    border: solid;
    float: left;
    margin-right: 25px;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 14px;
    border:  #EEEEEE solid 1px;
    background-color: white;


.all {
  padding-left: 10px;
  position: relative;
  top: 10px;
  font-weight: bold;
}

}

.sidebarli{
  list-style: none;
  padding-left: 28px;
  line-height: 25px;
  padding-top: 20px;
  margin-top: 0px;
  color: #0192BA;
}

a {
  color: #0192BA;
}
.alltheitems {
    display: inline-block;
    float: left;
    width: 1000px;

}



.image {
    margin-right: 20px;
    border-top: 0.5px solid #EEEFEB;
    border-right: 0.5px solid #EEEFEB;
    border-left: 0.5px solid #EEEFEB;
    border-bottom: 0.5px solid #CCCDCA;
    display: inline-block;
    height: 223px;
    margin-bottom: 20px;
}

.alltheitemsheader{
  margin-bottom: 30px;
}

.allcategories {
  float: left;
  font-size: 14px;

  .categories {
  color: #0192BA;
  }
  .whiskey {
    color: #444444;
  }

  .results {
    opacity: .7;
  }

}

.relevant {
  font-size: 14px;
  float: right;

  .Sort {
    opacity: .7;
  }

  .Relevancy{
    color: #0192BA;
  }

}


p.title {
    overflow: hidden;
    width: 215px;
    height: 14px;
    font-family: helvetica neue;
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: -8px;
    margin-left: 5px;
}

p.shopname {
    height: 14px;
    float: left;
    font-family: helvetica neue;
    font-size: 12px;
    margin-left: 7px;
    color: #9A9A9D;
}

p.money {
    height: 14px;
    float: right;
    font-family: helvetica neue;
    font-size: 12px;
    color: #78C042;
    margin-right: 7px;
}

.relatedbox{
  margin-left: 260px;
  height: 300px;
  width: auto;

h2 {
  font-size: 14px;
  font-family: helvetica neue;
  opacity: .6;
  height: 40px;
  top: 10px;
}

ul {
  display: inline-block;
  list-style: none;
  line-height: 30px;
  font-size: 14px;
  font-family: helvetica neue;
  padding-left: 0px;
  padding-right: 150px;
  color: #0192BA;
}
.relatedlinks {
  text-decoration: none;
  color: #0192BA;
}

.relatedlist3{
  position: relative;
  bottom: 58px;
}
}


.abovebuttons{
  font-size: 14px;

  position: relative;
  font-family: helvetica neue;


  .abovebuttonlinks{
    text-decoration: none;
    color: #0192BA;
  }

}

.buttons{
//margin-left: 243px;
right:  20px;
position: relative;

button{
  height: 40px;
  width: 35px;
  float: left;
  margin-right: 0px;
  margin-top: 15px;
  background-color: white;
  color: black;
  border: solid 1px  #D9D9D9;
  font-family: helvetica neue;

}
button:hover {
  background-color: #F7F5EE;
}

button:active{
  border: solid 1px black;
}
button:focus {
  outline:0;
}
.first{
  background-color: #F7F5EE;
  color: #9C9B9B;
}
.onebutton {
  background-color: #F7F5EE;
  border: solid 1px black;
}
.dots{
  background-color: #F7F5EE;
  color: #9C9B9B;
}


}


.heart {
    height: 18px;
    width: 18px;
    margin-top: 5px;
    padding: 2px;
    margin-left: 150px;
    position: absolute;
    border: solid .1px white;
    background-color: white;
     opacity: .01;


}

.hamburger {
    height: 18px;
    width: 18px;
    margin-top: 5px;
    margin-left: 185px;
    position: absolute;
    padding: 2px;
    border: solid .1px white;
    background-color: white;
    opacity: .01;
}

html {
  margin-bottom: 200px;
  background-color: #FAF9F5;


}

.appear{
  opacity: 1;
}


//related-list {
  //height: 120px;
  //width: 934px;
