.header {
  border-bottom-style: solid;
  height: 80px; }

.etsy-logo {
  float: left;
  padding-left: 20px;
  padding-top: 15px;
  height: 35px;
  width: 76px; }

input[type=text] {
  width: 342px;
  height: 30px;
  position: relative;
  left: 23px;
  top: 10px;
  display: inline-block;
  font-family: 'Titillium Web', sans-serif;
  font-size: 15px; }

button {
  position: relative;
  height: 36px;
  width: 78px;
  background-color: #34A8C4;
  font-size: 15px;
  font-family: 'Titillium Web', sans-serif;
  color: white;
  left: 18px;
  top: 10px;
  border-color: #2F98B1;
  border-style: solid; }

.footerwords1 {
  float: right;
  padding-right: 10px;
  top: 23px;
  position: relative;
  padding-right: 20px;
  color: #0192BA;
  right: 45px; }

.footerwords2 {
  position: relative;
  float: right;
  padding-right: 20px;
  top: 23px;
  color: #0192BA;
  right: 45px; }

.footerwords3 {
  position: relative;
  float: right;
  padding-right: 20px;
  top: 23px;
  color: #0192BA;
  right: 45px;
  border: solid 1px;
  height: 33px;
  width: 55px;
  padding-top: 10px;
  padding-right: 0px;
  padding-left: 5px; }

.cart {
  position: relative;
  float: right;
  top: 23px;
  border-left: solid 1px; }

.nav {
  height: 40px;
  width: auto;
  border-bottom-style: solid; }
  .nav span {
    padding-right: 20px; }

.sidebar {
  width: 229px;
  height: 407px;
  border: solid;
  float: left;
  margin-right: 25px; }

.alltheitems {
  display: inline-block;
  float: left;
  width: 1000px; }

.image {
  margin-right: 20px;
  border-top: .5px solid #EEEFEB;
  border-right: .5px solid #EEEFEB;
  border-left: .5px solid #EEEFEB;
  border-bottom: .5px solid #CCCDCA;
  display: inline-block;
  height: 223px;
  margin-bottom: 20px; }

p.title {
  overflow: hidden;
  width: 215px;
  height: 14px;
  font-family: helvetica neue;
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: -8px;
  margin-left: 5px; }

p.shopname {
  height: 14px;
  float: left;
  font-family: helvetica neue;
  font-size: 12px;
  margin-left: 7px;
  color: #9A9A9D; }

p.money {
  height: 14px;
  float: right;
  font-family: helvetica neue;
  font-size: 12px;
  color: #78C042;
  margin-right: 7px; }
