.header {
  border-bottom-style: solid;
  height: 80px; }

.etsy-logo {
  float: left;
  padding-left: 20px;
  padding-top: 15px;
  height: 35px;
  width: auto; }

.footerwords1 {
  float: right;
  padding-right: 10px; }

.footerwords2 {
  float: right;
  padding-right: 10px; }

.footerwords3 {
  float: right;
  padding-right: 10px; }

.cart {
  float: right; }

.nav {
  height: 40px;
  width: auto;
  border-bottom-style: solid; }
  .nav span {
    padding-right: 20px; }

.sidebar {
  width: 250px;
  border: solid; }

.alltheitems {
  display: inline-block;
  float: left; }

.image {
  margin: 20px;
  width: 20%;
  height: 100px;
  display: inline-block; }

.title p {
  overflow: hidden;
  width: 100px;
  height: 10px; }
